* {
  font-family: "Kosugi Maru", sans-serif;
}

.QRcode {
  text-align: center;
  margin-top: 100px;
  -webkit-touch-callout: default;
}

.Header {
  --padding-top: 16px;
  --padding-bottom: 16px;
  font-size: 25px; 
  --ion-toolbar-color : white;
  --ion-toolbar-background: #f3a659;
  /*border-bottom: solid 1px #f0973f;*/
}
/*
.HToolbar {
  --padding-top: 15px;
  --padding-bottom: 15px;
  font-size: 25px; 
  --ion-toolbar-color : white;
  --ion-toolbar-background: #f3a659;
}
*/

.toolbar-title-default {
  --padding-top: 30px;
  --padding-bottom: 40px;
}

.title-default {
  font-size: 25px;
  color: white;
  background-color: #f3a659;
}

.LabelName {
  font-weight: bold;
  padding-left: 20px;
  /*text-align: center;*/
}
.Label {
  font-weight: bold;
  /*padding-left: 20px;
  text-align: center;*/
}
.Item {
  padding-left: 15px;
}
/*
img {
  -webkit-touch-callout: default;
}
canvas {
  -webkit-touch-callout: default;
}

.test {
  -webkit-touch-callout: default;
}

div {
  -webkit-touch-callout: default
}
*/
