div.QRcode {
  text-align: center;
  margin-top: 100px;
}

.Header {
  border-bottom: solid 1px #f0973f;
}

.toolbar-title-default {
  --padding-top: 40px;
  --padding-bottom: 40px;
}

.LabelName {
  font-weight: bold;
  padding-left: 20px;
  text-align: center;
}

.Item {
  padding-left: 15px;
}

.AddButton {
  padding-left: 10px;
}
