div.QRcode {
  text-align: center;
  margin-top: 100px;
}

.labelName {
  text-align: center;
}

.Header {
  margin-top: 20px;
  border-bottom: solid 1px #f0973f;
}

.LabelName {
  font-weight: bold;
  padding-left: 20px;
}

.Item {
  padding-left: 15px;
}

.AddButton {
  padding-left: 10px;
}
